* {
  margin: 0px;
  padding: 0px;
}

.wrapper {
  margin: 0 auto 0 auto;
  width: 960px;
}

#cssPlaatje {
  float: right;
}

#badgestekst {
  float: left;
}

#tekst {
  margin-left: 50%;
  margin-right: 20%;
  color: black;
}

#contact {
  margin-right: 50%;
  margin-left: 0%;
}

#warchild {
  margin-top: 0%;
  margin-left: 50%;
  margin-right: 10%;
}

iframe {
  margin-left: 50%;
  margin-right: 20%;
  background-color: white;
}

header {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial;
  background-color: #8CCD8F;
  border-bottom: 2px solid black;
}

article {
  font-size: 20px;
}

header h1 {
  font-size: 60px;
  font-family: Verdana;
  color: #474A48;
  text-align: center;
}

body {
  font-size: 20px;
  font-family: Arial;
  color: black;
  background-color: grey;
  background-size: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #537A5A;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #8CCD8F;
}

.active {
  background-color: #8CCD8F;
  color: #537A5A;
}

nav {
  position:
  sticky;
  top: 0px;
}
