table {
  border: 2px solid silver;
  margin: 20px;
  background-color: brown;
  color: orange;
}

th {
  border: 2px solid silver;
  background-color: white;
  color: black;
}

td {
  border: 2px solid silver;
}

.prijslijst {
  border-collapse: collapse;
}
